# Go specific files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.test.out
*.prof
*.pprof
*.trace
*.cover
*.s
*.swp
*.swo
*.a
*.o
*.h
*.cgo1.go
*.cgo2.c
*.cgo2.o
*.cgo3.c
*.cgo3.o
*.cgo4.c
*.cgo4.o
*.cgo5.c
*.cgo5.o
*.sum

# Mac specific files
.DS_Store

# Visual Studio Code specific files
.vscode/
.settings/
*.code-workspace

# vim swap files
*.swp
*.swo

